body{
    background-image: url("images/background.jpg");
}
/* titre animé */

/* titre animé arrête là */
.divTitre{
 
}
.titre{
    text-align: center;
    color: rgb(143, 148, 77);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(83, 61, 29);
    background-color: rgb(12, 24, 9);
    margin-top:20px;
    opacity: 0.85;
}

/* CSS des images et descriptifs dans la page d'accueil */
.choix{
    margin-left: 33.3%;
    margin-top: 30px;
    display: flex;
}
#boutonProPremier{
    background-color: rgb(156, 118, 64);
    border-color: rgb(83, 61, 29);
    margin-right: 10px;
}
#boutonArtPremier{
    background-color: rgb(156, 118, 64);
    border-color: rgb(83, 61, 29);
    margin-right: 10px;
}
#boutonContact{
    background-color: rgb(156, 118, 64);
    border-color: rgb(83, 61, 29);
}
.parentDescription{
    margin-top:-40px;
    margin-left: 40px;
}
.row{
    padding-top: 30px;
}
.col{
    
}
.taf{
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
}
.art{
    display: flex;
    margin-top:30px;
    margin-right: 20px;
}
            /* style des boutons*/
.btn{
    opacity: 0.85;
    margin-bottom: 20px;
    /*border-radius: 50px;*/
    border-color: green;
    color:rgb(12, 24, 9);
}
.btn:hover{
    height: 80px;
    color:rgb(144, 224, 123);
}
#boutonPro{
    margin-top: 20px;
    margin-left: 70%;
    position: relative;
}
#boutonPro:hover{
    color:rgb(196, 255, 140);
}
#boutonArt:hover{
    color:rgb(196, 255, 140);
}
#boutonArt{
    height: 35px;
    margin-top: 20px;
    margin-left:80px;
}

img{
    height: auto;
    width: 300px;
    border-radius: 80px 80px;
    padding-top: 12.5px;
}
.photoPro{
    margin-right: 75px;
}
.paragraphe{
    display: flex;
    height: 300px;
    width: 600px;
    border-radius: 80px 80px;
    border-color: rgb(83, 61, 29);
    background-color: rgb(12, 24, 9);
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 10px;
    opacity: 0.85;
    margin-top: 80px;
}
img:hover{
    transform: scale(1.5,1.5);
}
.photoArt{
    margin-left: 75px;
}

.descriptifTaf{
    
    color: rgb(143, 148, 77);
    font-weight: bold;
    text-align: justify;
    font-family: 'cursive';
    margin-left: 30px;
    padding-top: 50px;
   
}
.paragraphArt{

}
.descriptifArt{
    color: rgb(143, 148, 77);
    font-weight: bold;
    margin-left: 10px;
    text-align: justify;
    font-family: 'cursive'; 
    margin-top:30px;  
    padding-top: 20px;
    margin-right: 10px;
    padding-left: 15px;
}

/* RESPONSIVE*/
@media only screen and (max-width: 1025px){
    #boutonPro{
        margin-top: 10px;
        margin-left: 33.3%;
        position: relative;
    }
    #boutonArt{
        margin-top:10px;
        margin-left: 39%;
        position: relative;
    }
    .descriptifArt{
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 769px){
    .divTitre{
        margin-left: 30px;
        width: 100%;
    }
}
@media only screen and (max-width: 426px){
   .divTitre{
       margin-left: 160px;
       width: 100%;
   }
@media only screen and (max-width: 375px){
    .divTitre{
        margin-left: 190px;
        width: 100%;
    }
}
/*
#scroller {
    width: 300px;
    height: 100px;
    overflow-x: scroll;
    scrollbar-color: rebeccapurple green;
  }