body{
    background-image: url("images/background.jpg");
}
.titre{
    text-align: center;
    color: rgb(143, 148, 77);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(83, 61, 29);
    background-color: rgb(12, 24, 9);
    margin-top:20px;
    opacity: 0.85;
}
/* la page d'accueil */
.sectionDescriptif{
    width: 80%;
    margin-left: 172px;
}
.taf{
    height: 400px;
    width: 100%;
    margin-top: 30px;
    display: flex;
}
.art{
    height: 400px;
    width:100%;
    display: flex;
    margin-top:30px;
}
            /* style des boutons*/
.choix{
    background-color: rgb(12, 24, 9);
    opacity: 0.85;
    margin-top: 60px;
    display: flex;
    width: 380px;
    border-radius: 30px;
    margin-left: 35%;
}
.divBoutonChoix{
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
}
#boutonProPremier{
    background-color: rgb(156, 118, 64);
    border-color: rgb(83, 61, 29);
    margin-right: 10px;
}
#boutonArtPremier{
    background-color: rgb(156, 118, 64);
    border-color: rgb(83, 61, 29);
    margin-right: 10px;
}
#boutonContact{
    background-color: rgb(156, 118, 64);
    border-color: rgb(83, 61, 29);
}
.btn{
    opacity: 0.85;
    margin-bottom: 20px;
    /*border-radius: 50px;*/
    border-color: green;
    color:rgb(12, 24, 9);
}
.btn:hover{
    height: 80px;
    color:rgb(144, 224, 123);
}
#boutonPresentation{
    margin-left: 33.3%;
    margin-top: 20px;
}
#boutonPro{
    position: relative;
}
#boutonPro:hover{
    color:rgb(196, 255, 140);
}
#boutonArt:hover{
    color:rgb(196, 255, 140);
}
#boutonArt{
    
}
/* Style des Images*/
.divImage{
    height: 100%;
    width:15%;
}
#img{
    height: 100%;
    width: auto;
    border-radius: 80px 80px;
    padding-top: 12.5px;
}
img:hover{
    transform: scale(1.5,1.5);
}
.photoArt{
   margin-left: 120px; 
}
#divImageTaf{
    margin-left: 175px;
}
#divImageArt{
    
}
/* style des div des paragraphes et des images */
.divParagraphe{
    display: flex;
    height: 300px;
    width: 40%;
    border-radius: 80px 80px;
    border-color: rgb(83, 61, 29);
    background-color: rgb(12, 24, 9);
    opacity: 0.85;
    margin-top: 80px;
}
#divPresentationTaf{
    margin-left:130px ;
}
#divPresentationArt{
    margin-left:165px ;
}
#paragrapheDescriptif{
    color: rgb(143, 148, 77);
    font-weight: bold;
    text-align: justify;
    font-family: 'cursive';
    padding-top: 33px;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;

}

/* Style de la section professionnelle*/
.formation{
    border-radius: 50px;
    background-color: rgb(12, 24, 9);
    opacity: 0.85;
    width: 500px;
    margin-top: 140px;
    margin-left: 100px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
}
.experience{
    border-radius: 50px;
    background-color: rgb(12, 24, 9);
    opacity: 0.85;
    width: 800px;
    margin-top: 50px;
    margin-left: 250px;
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 30px;
}
.titreExperience{
    text-align: center;
    margin-bottom: 50px;
}
.titreFormation{
    text-align: center;
    color: burlywood;
}
.formationInformatique{
    color: burlywood;
}
.experience{
    color: burlywood;
}
.remplacement{
    font-style: italic;
    font-weight: bold;
}
/* RESPONSIVE*/
@media only screen and (max-width: 1025px){
    #boutonPro{
        margin-top: 10px;
        margin-left: 33.3%;
        position: relative;
    }
    #boutonArt{
        margin-top:10px;
        margin-left: 39%;
        position: relative;
    }
    .descriptifArt{
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 769px){
    .divTitre{
        margin-left: 30px;
        width: 100%;
    }
}
@media only screen and (max-width: 426px){
   .divTitre{
       margin-left: 160px;
       width: 100%;
   }
@media only screen and (max-width: 375px){
    .divTitre{
        margin-left: 80px;
        width: 100%;
    }
    .choix{
        margin-left: 90px;
    }
    .image{
        width: 30%;
    }
    #img{
        width: auto;
        height: 300px;
    }
    .paragraphe{
        
        height: 200px;
        width: 70%;
    }
    #paragrapheDescriptif{
     
       
    }
}
/*
#scroller {
    width: 300px;
    height: 100px;
    overflow-x: scroll;
    scrollbar-color: rebeccapurple green;
  }